spring:
  datasource:
    url: jdbc:postgresql://localhost:5435/catalog_db
    username: catalog_user
    password: catalog_pass
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
  application:
    name: service-catalog-service

server:
  port: 8083

logging:
  level:
    root: INFO
    com.companies: DEBUG    # adjust to your base package
